<div class="row">
  <div class="box-container">
    <% @poems.each do |poem| %>
      <div class="poem-photo-show">
        <%= link_to poem_path(poem), class: 'poem-responsive' do%>
          <div><%= simple_format(h(poem.content.truncate(300))) %></div>
        <% end %>
        <span class="text-muted">posted at <%= poem.created_at.strftime("%Y/%m/%d %H:%M") %> by 
            <%= link_to poem.user.name, controller: "users", action: "show", id: poem.user.id, user_name: poem.user.name  %></span>
      </div>
    <% end %>
  </div>
</div>