<div class="user" >
  <%= render @user %>
</div>

<div class="contents">
  <input id="followings" type="radio" name="tab_item" checked>
  <label class="tab_item" for="followings">Followings</label>
  
  <input id="followers" type="radio" name="tab_item">
  <label class="tab_item" for="followers">Follower</label>
  
  <div class="tab_content" id="followings_content">
    <div class="tab_content_description">
      <%= render 'relationships/follow_list', users: @followings %>
    </div>
  </div>
  
  <div class="tab_content" id="followers_content">
    <div class="tab_content_description">
      <%= render 'relationships/follow_list', users: @followers %>
    </div>
  </div>
</div>