<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">画像投稿</div>
      <div class="panel-body">
        <%= form_for(@photo) do |f| %>
        
          <div class="form-group">
            <%= f.label :image_name, 'Picture' %>
            <%= f.file_field :image_name %>
          </div>

          <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>