// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like_form {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin: 0 10px;
  
  .btn {
    padding: 0;
    margin: 0;
    
    .fas {
      font-size: 20px;
    }
  }
  
  .btn-unlike {
    color: #d9534f;
  }
  
  .btn-like {
    color: #777;
  }
  
  form {
    display: inline-block;
    vertical-align: top;
  }
  
  span {
    height: 20px;
    font-size: 12px;
    color: #d9534f;
    display: inline-block;
    margin-left: 5px;
  }
}