// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like_form {
  display: inline-block;
  
  .btn {
    padding: 0;
    margin: 0 10px;
    
    .fas {
      font-size: 24px;
    }
  }
  
  .btn-unlike {
    color: #d9534f;
  }
  
  .btn-like {
    color: #777;
  }
}