.icon img{
    width: 100px;
}

.user-profile{
    width: 100%;
    margin-bottom: 20px;
}

.user-profile h2 .btn {
    background-color: #5ab4bd;
    color: #fff;
    border: none;
    vertical-align: top;
}

.user-note{
    width: 400px;
    height: 90px;
    font-size: 12px;
    text-align: left;
    margin: 5px auto;
    background: #eaeaea;
    padding: 2px 10px;
    overflow: hidden;
}