<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>" id="alert-<%= message_type %>"><%= message %></div>
<% end %>
<script>
    window.onload = setTimeout("alertHide()", 6000);
    function alertHide() {
         document.getElementById('alert-success').classList.add('hidden');
    }
</script>